include ovos-skill-melody/soundbytes/Clearly_You_Dont_Want_To_Get_Up.mp3
include ovos-skill-melody/soundbytes/As_You_Wish.mp3
include ovos-skill-melody/soundbytes/Impossible_To_Synthesize.mp3
include ovos-skill-melody/soundbytes/Voicy_Jarvis_Start_Up.mp3